language: java

jdk:
  - oraclejdk8
  - openjdk11

git:
  depth: false

addons:
  sonarcloud:
    organization: "rosolko-github"

before_cache:
  - rm -f  $HOME/.gradle/caches/*/*.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.sonar/cache

script:
  - ./gradlew check --no-daemon --no-build-cache --console=plain
  - sonar-scanner
